body{
    background-color: #0B3A97;
}
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
#box{
    width: 950px;
    height: 550px;
    background-color: #0B3A97;
    margin: 25px auto;
    box-shadow: 2px 2px 20px 2px #01b4f5;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    color: white;

}
.word{
    padding-left: 30px;
}

#btn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    color: red;
    padding-right: 30px;
    
}

.btn-items{
    background-color: #01b4f5;
    font-size: 1.1em;
    color: white;
}
.btn-items:hover{
    background-color: #0e83ad;
}

.btn-items:nth-of-type(6){
    background-color: #2257BF;
}
.btn-items:nth-of-type(6):hover{
    background-color:#0e83ad ;
}

#grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.transactions{
    background-color: #F6006B;
    width: 350px;
    height: 50px;
    position: absolute;
    top: 475px;
    left: 300px;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bolder;
    color: white;
    padding: 15px;
}

.display{
    position: absolute;
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 400px;
    bottom: 70px;
    color: white;
}


@media screen and (max-width:1000px){
    #box{
        width: 700px;
        height: 550px;
        background-color: #0B3A97;
        margin: 25px auto;
        box-shadow: 2px 2px 20px 2px #01b4f5;
    }
    
    header{
        display: flex;
        justify-content: space-between;
        padding: 30px;
        color: white;
    
    }

    .transactions{
        background-color: #F6006B;
        width: 350px;
        height: 50px;
        position: absolute;
        top: 475px;
        left: 180px;
        border-radius: 5px;
        font-size: 1.5em;
        font-weight: bolder;
        color: white;
        padding: 15px;
    }
    
    .display{
        position: absolute;
        font-size: 1.1em;
        font-weight: bold;
        padding-left: 270px;
        bottom: 70px;
        color: white;
    }

    
}
@media screen and (max-width:720px){
    #box{
        width: 500px;
        height: 550px;
        background-color: #0B3A97;
        margin: 25px auto;
        box-shadow: 2px 2px 20px 2px #01b4f5;
    }
    
    header{
        display: flex;
        justify-content: space-between;
        padding: 30px;
        color: white;
    
    }

    .transactions{
        background-color: #F6006B;
        width: 250px;
        height: 50px;
        position: absolute;
        top: 475px;
        left: 120px;
        border-radius: 5px;
        font-size: 1.5em;
        font-weight: bolder;
        color: white;
        padding: 15px;
    }
    
    .display{
        position: absolute;
        font-size: 1.1em;
        font-weight: bold;
        padding-left: 170px;
        bottom: 70px;
        color: white;
    }

    
}
@media screen and (max-width:520px){
    #box{
        width: 300px;
        height: 550px;
        background-color: #0B3A97;
        margin: 25px auto;
        box-shadow: 2px 2px 20px 2px #01b4f5;
    }
    
    header{
        display: flex;
        justify-content: space-between;
        padding: 30px;
        color: white;
    
    }

    .transactions{
        background-color: #F6006B;
        width: 200px;
        height: 50px;
        position: absolute;
        top: 475px;
        left: 50px;
        border-radius: 5px;
        font-size: 1.5em;
        font-weight: bolder;
        color: white;
        padding: 15px;
    }
    
    .display{
        position: absolute;
        font-size: 0.8em;
        font-weight: bold;
        padding-left: 82px;
        bottom: 70px;
        color: white;
    }
    .word{
        padding-left: 15px;
        font-size: 1em;
    }
    .btn-items{
        background-color: #01b4f5;
        font-size: 0.8em;
        color: white;
        width: 70px;
    }
    #btn{
        padding-right: 15px;
    }

    
}

