*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#grid-c{
    display: grid;
    grid-template-columns: repeat(3, 32%);
    gap: 20px;
    padding: 30px;
}
#grid{
    height: 200px;
    background-color: blue;
}
{
    {

    }
}